#action-save {
    transition: all 0.4s ease;
    border: 1px solid #778da9;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #1d3557;
    color: #e0e1dd;
    border: transparent;
    border-radius: 1em;
    margin: 5px 10px;
    &[aria-disabled="true"] {
        display: none;
        cursor: not-allowed;
        &:hover {
            background-color: #1d3557;
            color: #e0e1dd;
            text-decoration: none;
        }
    }
}

.card {
    color: #e0e1dd;
    text-align: center;
    h3,
    .card__actions {
        // color: red;
        margin: auto;
        font-weight: bold;
        z-index: 1000;
    }
}

.doc-controls__wrapper {
    transition: all 0.4s ease;
    &:has(#action-save[aria-disabled="true"]) {
        height: 0;
        opacity: 0;
        border: none;
    }
}

.btn {
    transition: all 0.4s ease;
    border: 1px solid #778da9;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #1d3557;
    z-index: 800;
    color: #e0e1dd;
    border: transparent;
    border-radius: 1em;
    margin: 5px 10px;
    &:hover {
        background-color: #457b9d;
        color: #ececea;
        text-decoration: underline;
    }
}

textarea {
    min-height: 100px;
}
.field-label,
.doc-header__title,
.render-title {
    font-weight: bold;
}

.doc-tabs {
    display: none;
}

.doc-controls__content {
    flex-grow: 0;
}

.upload__dropzoneContent__buttons span {
    margin: auto;
}
